/*
----------------------------------------
:: GoFourth :: CSS
----------------------------------------
*/

/* : variables
--------------------------------------*/

@c-black: #212121;
@c-black-dim: rgba(0,0,0,0.3);
@c-gray-border: #888;
@c-light-green: #afdd74;
@c-orange: #ffb732;
@c-red: #cd5c5c;

@ff-oswald: 'Oswald', Arial, sans-serif;

/* : mixins
--------------------------------------*/

/* : ui
--------------------------------------*/

.form-control {
  border: 2px solid #bbb;
  border-radius: 0;

  &:focus {
    border: 2px solid #bbb;
    box-shadow: none;
    outline: none; 
  }
}

.sweet-alert {
  border: 5px solid #ccc;
  border-radius: 0;
  font-family: @ff-oswald;
  padding: 0 10px 15px;

  button {
    border: 1px solid darken(rgb(174, 222, 244), 1%);
    border-radius: 0; 
  }
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer;  } // angular-ui/bootstrap

.modal-content {
  background: rgba(0,0,0,0.64);
  border: 5px solid #ccc;
  border-radius: 0;
  margin: 190px auto;
  width: 450px;
}

.modal-title {
  color: #fff;
  text-align: center;
}

.modal-header {
  border-bottom: 1px solid #444;
}

.modal-footer {
  border-top: 1px solid #444;

  a {
    color: #fff; 

    &:hover {
      color: #fff; 
    }
  }
}

.modal-form {

  .form-control {
    border: 5px solid #ccc; 
    border-radius: 0;
    margin-bottom: 20px;
    padding: 20px;
  }

  .form-error {
    background-color: @c-red;
    border: 1px solid darken(@c-red, 3%);
    color: #fff;
    margin-bottom: 20px;
    padding: 12px;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
  }

  .btn-submit {
    background-color: @c-orange;
    border: none;
    border-bottom: 4px solid darken(@c-orange, 20%);
    color: #fff;
    font-size: 16px;
    line-height: 33px;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
    transition: all 1s;
    width: 100%;

    &:hover {
      background-color: darken(@c-orange, 5%); 
      border-color: darken(@c-orange, 25%);
    }
  }
}

.no-session-content {
  margin-bottom: 25px;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 10px;
    background: rgba(0,0,0,0.3); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0,0,0,0.4); 
}


/* : layout
--------------------------------------*/

.container {
  width: 1200px;
}

body {
  background: url('/img/background-wide.jpg') no-repeat;
  font-family: @ff-oswald;
}

.main-header {
  height: 70px;
  margin: 20px 0;
}

.main-logo {
  color: #fff;
  display: inline-block;
  font-family: @ff-oswald;
  font-size: 36px;
  font-style: italic;
  line-height: 70px;
  margin: 0;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.5);

  sup {
    font-size: 14px;
    margin-left: 10px;
    text-transform: uppercase; 
  }
}

.main-nav {
  float: right;
  
  a {
    background: rgba(0,0,0,0.1);
    border: 1px solid #ddd;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: 100;
    line-height: 50px; 
    margin-right: 15px;
    margin-top: 5px;
    padding: 0 25px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    transition: background 1s;

    &:last-of-type {
      margin-right: 0; 
    }

    &:hover {
      background: rgba(0,0,0,0.3);
      text-decoration: none; 
    }
  }
}

.game-container {
  border: 5px solid #ccc;
  box-shadow: 0 0 25px rgba(0,0,0,0.4);
  float: left;
}

.main-cp-container {
  background: rgba(0,0,0,0.4);
  border: 5px solid #ccc;
  float: left;
  height: 510px;
  margin-left: 20px;
  width: 655px;
}

.main-cp-header {
  box-shadow: 0 2px 5px rgba(0,0,0,0.4),
              0 1px 0 rgba(255,255,255,0.3);
  height: 60px;

  a {
    border-right: 1px solid #232323;
    box-shadow: inset -1px 0 0 rgba(255,255,255,0.17);
    color: #fff;
    display: inline-block; 
    font-size: 16px;
    font-weight: 100;
    line-height: 60px;
    margin-right: -2px;
    padding: 0 15px;
    text-shadow: 0 1px 4px rgba(0,0,0,0.4);
    transition: all 1s;

    &:hover {
      background: rgba(0,0,0,0.17);
      text-decoration: none; 
    }
  }
}

.main-cp-header_item--active {
  text-decoration: underline;
}

.main-cp-content {
  color: #fff;
  height: 440px;
  overflow-y: scroll;
  padding: 25px;
  position: relative;
  z-index: 1000;

  h2 {
    font-size: 18px; 
    font-weight: 100;
    margin: 0;
  }
}

/* : recent games
--------------------------------------*/

.db-recent-game-container {
  background-color: @c-black-dim;
  border: 2px solid #aaa; 
  margin-bottom: 15px;
}

.db-recent-game-inline {
  border-right: 2px solid @c-gray-border;
  display: inline-block;
  padding: 10px;
  text-align: center;
}

.db-recent-game-inline--index {
  width: 40px;
}

.db-recent-game-inline--name {
  width: 150px;
}

.db-recent-game-inline--score {
  width: 120px;
}

/* : browse games
--------------------------------------*/

.game-choice {
  background-color: @c-black-dim;
  border: 2px solid @c-gray-border;
  box-sizing: border-box;
  float: left;
  margin-bottom: 20px;
  margin-right: 4%;
  padding: 15px 10px;
  width: 48%;

  &:nth-of-type(2n) {
    margin-right: 0; 
  }

  &:hover {
    background-color: fadein(@c-black-dim, 10%);
    cursor: pointer;
    transform: rotate(1deg);
  }
}

.game-choice--active {
  border-color: @c-orange;
}

.game-choice_name {
  font-size: 20px;
  font-weight: 100;
  margin-top: 0;
}

.game-choice_description {
  margin-bottom: 0;
}
