<div>
  <div class="gf-create-game">
    <div class="gf-create-game_header">
      <h2>Game Details</h2>
    </div>
    <div ng-show="stage === 1">
      <form class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" placeholder="Name" ng-model="newGame.name">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" id="description" class="form-control" placeholder="Description" ng-model="newGame.description">
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <input type="checkbox" id="public" ng-model="newGame.public">
            <label for="public"><span style="display:inline-block;vertical-align:bottom;margin-right:10px;"></span></label>
            <label for="">Make Public?</label>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="gf-create-game" ng-repeat="level in newGame.levels">
    <div class="gf-create-game_header">
      <h2>Level {{$index + 1}}</h2>
      <a class="gf-create-game_remove-level" href="javascript:void(0)" ng-click="removeLevel($index)">
        <i class="glyphicon glyphicon-remove"></i>
      </a>
    </div>
    <div>
      <form class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="question">Question</label>
            <input type="text" id="question-{{$index}}" class="form-control" placeholder="Question" ng-model="level.question">
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-6" ng-repeat="answer in level.answers">
            <div class="row level-answer">
              <div class="col-md-8">
                <label>Answer</label>
                <input type="text" class="form-control" placeholder="Answer" ng-model="answer.label" ng-maxlength="30">
              </div>
              <div class="col-md-4 level-answer_correct">
                <label for="">Correct?</label>
                <input type="checkbox" id="answer-{{$parent.$index}}-{{$index}}" ng-model="answer.is_correct">
                <label for="answer-{{$parent.$index}}-{{$index}}"><span></span></label>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="gf-create-game">
    <div class="gf-create-game_header">
      <h2>Add Level</h2>
    </div>
    <div>
      <form class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="question">Question</label>
            <input type="text" id="question" class="form-control" placeholder="Question" ng-model="newLevel.question">
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-6">
            <div class="row level-answer">
              <div class="col-md-8">
                <label for="answer1">Answer</label>
                <input type="text" id="answer1" class="form-control" placeholder="Answer" ng-model="newLevel.answer1" ng-maxlength="30">
              </div>
              <div class="col-md-4 level-answer_correct">
                <label for="">Correct?</label>
                <input type="checkbox" id="answer1_iscorrect" ng-model="newLevel.answer1_iscorrect">
                <label for="answer1_iscorrect"><span></span></label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row level-answer">
              <div class="col-md-8">
                <label for="answer2">Answer</label>
                <input type="text" id="answer2" class="form-control" placeholder="Answer" ng-model="newLevel.answer2" ng-maxlength="30">
              </div>
              <div class="col-md-4 level-answer_correct">
                <label for="">Correct?</label>
                <input type="checkbox" id="answer2_iscorrect" ng-model="newLevel.answer2_iscorrect">
                <label for="answer2_iscorrect"><span></span></label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row level-answer">
              <div class="col-md-8">
                <label for="answer3">Answer</label>
                <input type="text" id="answer3" class="form-control" placeholder="Answer" ng-model="newLevel.answer3" ng-maxlength="30">
              </div>
              <div class="col-md-4 level-answer_correct">
                <label for="">Correct?</label>
                <input type="checkbox" id="answer3_iscorrect" ng-model="newLevel.answer3_iscorrect">
                <label for="answer3_iscorrect"><span></span></label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row level-answer">
              <div class="col-md-8">
                <label for="answer4">Answer</label>
                <input type="text" id="answer4" class="form-control" placeholder="Answer" ng-model="newLevel.answer4" ng-maxlength="30">
              </div>
              <div class="col-md-4 level-answer_correct">
                <label for="">Correct?</label>
                <input type="checkbox" id="answer4_iscorrect" ng-model="newLevel.answer4_iscorrect">
                <label for="answer4_iscorrect"><span></span></label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12">
            <button class="transparent-btn" ng-click="addLevel()">Add Level</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="gf-create-game">
    <div class="row">
      <div class="col-md-12">
        <button class="transparent-btn" ng-click="createGame()">Create Game</button>
        <button class="transparent-btn" ng-click="cancelGame()">Abandon Ship</button>
      </div>
    </div>
  </div>
</div>
