<div class="container">
  <div class="row">
    <canvas data-gf-game class="game-container"
        width="500" height="500"></canvas>
    <div class="main-cp-container">
      <div class="main-cp-header">
        <a href="#" ng-click="uiState.setState('scoreboard')"
          ng-class="{ 'main-cp-header_item--active': uiState.is('scoreboard') }">Scoreboard</a>
        <a href="#" ng-click="uiState.setState('browse')"
          ng-class="{ 'main-cp-header_item--active': uiState.is('browse') }">Browse Games</a>
        <a href="#" ng-click="uiState.setState('created')"
          ng-class="{ 'main-cp-header_item--active': uiState.is('created') }"
          ng-show="currentUser">Your Games</a>
        <a href="#" ng-click="uiState.setState('create')"
          ng-class="{ 'main-cp-header_item--active': uiState.is('create') }"
          ng-show="currentUser">Create Game</a>
      </div>
      <section class="main-cp-content">
        <div ng-show="uiState.getState() == 'scoreboard'">
          <div ng-hide="recentGames.length" class="no-session-content">
            <p>Begin playing to see your scores here!</p>
          </div>
          <div class="db-recent-game-container" ng-repeat="game in recentGames">
            <span class="db-recent-game-inline db-recent-game-inline--index">{{$index + 1}}</span>
            <span class="db-recent-game-inline db-recent-game-inline--name">{{game.name}}</span>
            <span class="db-recent-game-inline db-recent-game-inline--score">{{game.score}}</span>
            <span class="db-recent-game-inline db-recent-game-inline--time" am-time-ago="game.timestamp"></span>
            <span class="db-recent-game-inline db-recent-game-inline--actions"></span>
          </div>
        </div>
        <div ng-show="uiState.getState() == 'browse'">
          <input type="text" style="width:300px;" class="form-control" placeholder="Browse games..." ng-model="browseQuery">
          <br>
          <div class="game-choice"
            ng-class="{ 'game-choice--active': activeGame.id === game.id }"
            ng-repeat="game in gameChoices | filter: { name: browseQuery }"
            ng-click="actions.activateGame(game)">
            <h3 class="game-choice_name">{{game.name}}</h3>
            <p class="game-choice_description">{{game.description}}</p>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
